._vc-cover {
  position: fixed;
  pointer-events: none;
  z-index: 999999;
  background: rgba(32, 114, 205, 0.5);
}
._vc-cover-info {
  position: absolute;
  width: 320px;
  height: auto;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  text-overflow: ellipsis;
  font-size: 12px;
  color: black;
  background-color: #fff;
  box-shadow: black 0px 0px 6px;
  box-sizing: border-box;
  padding: 4px;
}
._vc-top-info {
  top: 0;
  transform: translateY(-100%);
}
._vc-bottom-info {
  top: 100%;
}
._vc-top-inner-info {
  top: 0;
}
._vc-bottom-inner-info {
  bottom: 0;
}
._vc-left-info {
  left: 0;
}
._vc-right-info {
  right: 0;
}
._vc-node-name {
  color: coral;
  font-weight: bold;
  font-size: 14px;
}
._vc-node-class-name {
  color: dodgerblue;
}

#_vc-control-suspension {
  position: fixed;
  z-index: 99999999;
  height: 40px;
  width: 40px;
  background-color: gray;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  top: 30px;
  right: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #fff;
}
