<div class="inspector-shortcuts" aria-label="Default shortcuts">
  <div class="inspector-shortcut">
    <span>Mac</span>
    <kbd>Option</kbd>
    <kbd>Shift</kbd>
  </div>
  <div class="inspector-shortcut">
    <span>Windows</span>
    <kbd>Alt</kbd>
    <kbd>Shift</kbd>
  </div>
</div>
